<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pmsadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">


        <activity android:name=".survey.resource.AddVendroActivity"></activity>

        <activity android:name=".survey.coordinates.MaterialDetails" />

        <activity
            android:name=".survey.resource.AddContactActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".survey.resource.ContactDetailsActivity" />

        <activity android:name=".survey.resource.DesignationWiseContactListActivity" />

        <activity
            android:name=".survey.coordinates.AddMaterialActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".dialog.add_material_dialogue.AddMaterialDialogue"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />

        <activity android:name=".survey.resource.contractor_vendor.ContractVendorReplica" />

        <activity
            android:name=".dialog.AddContractorVendorDialogue"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".survey.resource.contractor_vendor.ContractorsVendorsActivity" />

        <activity android:name=".survey.resource.EstablishmentDetails" />

        <activity android:name=".survey.resource.contractor_vendor.ContractorsDetails" />

        <activity android:name=".survey.resource.contractor_vendor.PandMDetails" />

        <activity
            android:name=".survey.resource.contractor_vendor.MachineryAddActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".survey.resource.hydrological_data.AddHydrologicalData"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".survey.resource.hydrological_data.HydrologicalActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".survey.resource.hydrological_data.HydrologicalDetails"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".survey.SitePhotoDetailsActivity" />
        <activity
            android:name=".survey.resource.AddEstablishmentActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".survey.resource.EstablishmentActivity" />
        <activity android:name=".survey.coordinates.CrusherActivity" />
        <activity android:name=".survey.coordinates.CrusherDetailsActivity" />
        <activity android:name=".survey.resource.ResourceActivity" />
        <activity android:name=".survey.coordinates.RawMaterialsActivity" />
        <activity
            android:name=".dialog.AddChkInDialogue"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".survey.coordinates.CheckInActivity" />
        <activity android:name=".survey.coordinates.CoordinatesActivity" />
        <activity android:name=".survey.SitePhotoSurvey" />
        <activity
            android:name=".survey.StartSurveyHome"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".tenders_list.TendorsListing"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".splash_screen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboard.LogoutDialogue"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".giveattandence.AttendanceJustification" />
        <activity android:name=".tenderdashboard.TendorListActivity" />
        <activity android:name=".giveattandence.JustificationActivity" />
        <activity android:name=".tenderdashboard.TenderDashboardActivity" />
        <activity android:name=".addsite.AddSiteActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".leavesection.LeaveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".showgeofence.GeoFenceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".attendancelist.ApprovalListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".filter.FilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".giveattandence.GiveAttendanceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".attendancelist.AttendanceListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".seconddashboard.Dashboard2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".dashboard.DashBoardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".forgot.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme"
            >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity> <!-- Google Map. -->
        <activity
            android:name=".planreport.PlanningReports"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".add_daily_report.AddDailyData"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- Google Map. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".dashboard.geofenceclasses.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".dashboard.Alarm"
            android:process=":remote" />

        <service
            android:name=".dashboard.geofenceclasses.GeofenceTransitionsJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".giveattandence.services.BackgroundLocationService" />
    </application>

</manifest>